body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 h2{
    font-family: 'Shrikhand', sans-serif;
}

/*Ecran de chargement*/
.loader_screen{
    position: fixed;
    background-color: white;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disparition 4s;
    animation-fill-mode: forwards;
    cursor: progress;

}

@keyframes disparition {
    0%{
        opacity: 4;
      }
    25%{
        opacity: 3;
    }

    50%{
        opacity: 2;
    }

    75%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.loader{
    margin: auto;
    margin-top: 241px;
    margin-bottom: 40px;
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    border-top-color: #1abc9c;
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation: chargeur 4s linear infinite;
}

@keyframes chargeur {
     0%{
        transform: rotate(0deg) scale(1); 
        border-top-color: #9356DC;
        border-bottom-color: #99E2D0;
       }
    25%{
        border-top-color: #9356DC;
        border-bottom-color:#FF79DA;
       }
    50%{
        transform: rotate(360deg) scale(1.15);
        border-top-color: #99E2D0;
        border-bottom-color: #9356DC;
       }
    75%{
        border-top-color: #FF79DA;
        border-bottom-color: #99E2D0;
       }
    100%{
        transform: rotate(760deg) scale(1);
        border-top-color: #9356DC;
        border-bottom-color: #FF79DA;
        }
}

.slogan_loader{
    font-family: Shrikhand, "cursive";
    text-align: center;
    color: #9356dc;
    font-size: 256%;
}


.titre{
    text-align-last: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.pages_restaurants{
    display: flex;
}

.logo_titre_2{
    padding-left: 36%!important;
}

.return{
    font-size: 26px;
    padding-top: 2px;
    padding-left: 4%;
    color: black;
}

.logo_titre{
    width: 11%;
}

.position{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    box-shadow: inset -25px 25px 81px #dcdcdc,
            inset 25px -25px 81px #f8f8f8;
}

.map{
    align-self: center;
    margin-right: 7px;
}

.presentation{
    background-image:url(images/gold-cutlery-set-black-background.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    filter: drop-shadow(2px 4px 6px black);
    padding: 5%;
    text-align: center;
}

.bouton_presentation{
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    border: none;
    color: white;
    padding: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 22px;
    box-shadow: 8px 9px 6px -1px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.list_fonctionnement{
    margin-top: 2%;
}

.titre_fonctionnement{
    margin-top: 2%;
    margin-left: 12%;
}

.liens_cartes
{
    text-decoration: none;
    color: black;
}

.list_propre{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-right: 16%;
    margin-left: 2%;
}

.badge {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    left: -0.75rem;
}

.ft_restaurant{
    display: flex;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    margin-right: -90%;
    padding-top: 4%;
    padding-bottom: 1%;
}

.img_restaurant{
    height: max-content;
    padding-top: 12px;
    padding-left: 5%;
    padding-right: 3%;
}

.ft_menu{
    display: flex;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    margin-right: -90%;
    padding-top: 4%;
    padding-bottom: 1%;
}

.img_menu{
    height: max-content;
    padding-top: 12px;
    padding-left: 5%;
    padding-right: 3%;
}

.ft_degustation{
    display: flex;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    margin-right: -90%;
    margin-left: -6%;
    padding-top: 4%;
    padding-bottom: 1%;
}

.img_degustation{
    height: max-content;
    padding-top: 12px;
    padding-left: 5%;
    padding-right: 3%;
}

.restaurants{
    background-color: #f6f6f6;
}

.titre_restaurants{
    padding-top: 2%;
    margin-top: 2%;
    margin-left: 12%;
}

.cartes{
    max-width: 1280px;
    margin: auto;
    padding-bottom: 2%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.carte{
    background-color: white;
    border-radius: 15px
}

.img_de_selections{
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
}

.vignette{
background-color: #99e2d0;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    margin-left: 41%;
    margin-top: 0%;
}

.titre_carte{
    padding-left: 3%;
}

.titre_carte h3{
    margin-bottom: -2%;
}


.like2{
    cursor: pointer;
    filter: opacity(0.5);
    float: right;
    margin-bottom: -4%;
    margin-top: -9%;
    margin-right: 7%;
}

.container{
    background-color: #353535;
    padding: 1rem;
    padding-left: 9%;
}

.footer_logo{
    color: #fff;
    font-family: Shrikhand, "cursive";
    font-size: 23px;
    margin: 0 0 1rem;
    padding-left: 3%;
}

.liste_footer{
    color: white;
    list-style: none;
    cursor: pointer;
}

.proposer_restaurant{
    display: flex;
}

.partenaire{
    display: flex;
}

/*Pages des restaurants*/

.p{
    font-family: 'Roboto', sans-serif;
}

.img_la_palette_du_gout{
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}

.section_menu{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    position: relative;
}

.Carte_menu_palette_du_gout{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
}

.titre_de_la_palette_du_gout{
    font-family: Shrikhand, "cursive";
    padding-left: 35px;
    padding-top: 20px;
}

.like3{
    padding-top: 70px;
}

.grand_titre_entree{
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
}

.menu_items{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: .25rem .25rem 1remrgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(.5, 1.58, .34, .82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
}

.menu_items_header{
    white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
}

.menu_items_titre{
    margin: 0;
}

.menu_items_description{
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu_items__prix{
    margin-right: auto;
    
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
}

@keyframes itemAppear {
     0%{
        transform: scale(0);
     }
     100%{
        transform: scale(1);
     }
}

@keyframes rotation {
    0%{
        margin-right: -15%;
    }

    100%{
        margin-right: -5px;
    }
}

.menu_items_confirmation{
    margin: -5%;
    margin-right: -21%;
    background-color: #99e2d0;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}

.menu_items_animation{
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.menu_items_icon{
        color: #99e2d0;
}

.bouton_commander{
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
}

.command_Btn{
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    cursor: pointer;
}

/*hover*/

.bouton_presentation:hover{
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    border: none;
    color: white;
    padding: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 22px;
    box-shadow: 7px 10px 6px -1px rgba(0, 0, 0, 0.48);
    transform: scale(1.02);
    transition: 1s;
}

.carte:hover{
    box-shadow: 8px 9px 6px -1px rgba(0, 0, 0, 0.22);
    transition: 0.6s;
}

.like2:hover{
    cursor: pointer;
    filter: opacity(10);
    transition: 0.70s;
    float: right;
    margin-bottom: -4%;
    margin-top: -9%;
    margin-right: 7%;
    color: #ff79da;
}

.menu_items:hover{
    transition: 1s;
    padding-right: 16%;
}

.proposer_restaurant:hover{
    text-decoration: underline;
}

.partenaire:hover{
    text-decoration: underline;
}

.footer_list1:hover{
    text-decoration: underline;
}

.footer_list2:hover{
    text-decoration: underline;
}



/*mobile*/

@media screen and (max-width: 767px) {
    
    .logo_titre{
        padding: 5%;
        width: 50%;
    }

    .logo_titre_2{
        padding-left: 15%;
    }

    .return{
        padding-top: 20px;
    }

    .titre{
        box-shadow: 0px 14px 5px 0px rgba(0, 0, 0, 0.16);
    }

    .presentation{
        background-image: none;
        filter: none;
    }

    .titre_fonctionnement
    {
        margin-left: 0%;
        text-align: center;
    }

    .titre_presentation{
        color: black;
    }

    .texte_presentation{
        color: black;
    }

    .bouton_presentation{
        padding: 4%;
        padding-left: 10%;
        padding-right: 10%;
        font-size: initial;
    }

    .list_propre{
        display: block;
        margin-left: -4%;
    }

    .ft_restaurant{
        margin-right: -15%;
        margin-bottom: 5%;
    }

    .ft_menu{
        margin-right: -15%;
        margin-bottom: 5%;
    }

    .ft_degustation{
        margin-right: -15%;
        margin-bottom: 5%;
        margin-left: 0%;
    }

    .cartes{
        display: block;
        margin: 4%;
    }

    .vignette{
        margin-left: 74%;
    }

    .vignette2{
        margin-top: 82%;
    }

    .titre_carte{
        margin-top: -4%;
        padding-bottom: 1%;
        margin-bottom: 4%;
    }

    .like2{
        width: 9%;
        margin-top: -16%;
    }

    .like2:hover {
    cursor: pointer;
    filter: opacity(10);
    transition: 0.70s;
    float: right;
    margin-bottom: -4%;
    margin-top: -16%;
    margin-right: 7%;
    color: #ff79da;

    }

    .footer_logo{
        padding-left: 0%;
    }

    .liste_footer{
        margin-left: -16%;
        font-size: 122%;
    }


}