/*Ecran de chargement*/
.loader_screen {
    position: fixed;
    background-color: white;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disparition 4s;
    animation-fill-mode: forwards;
    cursor: progress;

}

@keyframes disparition {
    0% {
        opacity: 4;
    }

    25% {
        opacity: 3;
    }

    50% {
        opacity: 2;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader {
    margin: auto;
    margin-top: 241px;
    margin-bottom: 40px;
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    border-top-color: #1abc9c;
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation: chargeur 4s linear infinite;
}

@keyframes chargeur {
    0% {
        transform: rotate(0deg) scale(1);
        border-top-color: #9356DC;
        border-bottom-color: #99E2D0;
    }

    25% {
        border-top-color: #9356DC;
        border-bottom-color: #FF79DA;
    }

    50% {
        transform: rotate(360deg) scale(1.15);
        border-top-color: #99E2D0;
        border-bottom-color: #9356DC;
    }

    75% {
        border-top-color: #FF79DA;
        border-bottom-color: #99E2D0;
    }

    100% {
        transform: rotate(760deg) scale(1);
        border-top-color: #9356DC;
        border-bottom-color: #FF79DA;
    }
}

.slogan_loader {
    font-family: Shrikhand, "cursive";
    text-align: center;
    color: #9356dc;
    font-size: 256%;
}