@media screen and (max-width: 767px) {

    .logo_titre {
        padding: 5%;
        width: 50%;
    }

    .logo_titre_2 {
        padding-left: 15%;
    }

    .return {
        padding-top: 20px;
    }

    .titre {
        box-shadow: 0px 14px 5px 0px rgba(0, 0, 0, 0.16);
    }

    .presentation {
        background-image: none;
        filter: none;
    }

    .titre_fonctionnement {
        margin-left: 0%;
        text-align: center;
    }

    .titre_presentation {
        color: black;
    }

    .texte_presentation {
        color: black;
    }

    .bouton_presentation {
        padding: 4%!important;
        padding-left: 10%!important;
        padding-right: 10%!important;
        font-size: initial!important;
    }

    .list_propre {
        display: block;
        margin-left: -4%;
    }

    .ft_restaurant {
        margin-right: -15%;
        margin-bottom: 5%;
    }

    .ft_menu {
        margin-right: -15%;
        margin-bottom: 5%;
    }

    .ft_degustation {
        margin-right: -15%;
        margin-bottom: 5%;
        margin-left: 0%;
    }

    .cartes {
        display: block;
        margin: 4%;
    }

    .vignette {
        margin-left: 74%;
    }

    .vignette2 {
        margin-top: 82%;
    }

    .titre_carte {
        margin-top: -4%;
        padding-bottom: 1%;
        margin-bottom: 4%;
    }

    .like2 {
        width: 9%;
        margin-top: -20% !important;
    }

    .like2:hover {
        cursor: pointer;
        filter: opacity(10);
        transition: 0.70s;
        float: right;
        margin-bottom: -4%;
        margin-top: -19%;
        margin-right: 7%;
        color: #ff79da;
    }

    .footer_logo {
        padding-left: 0%;
    }

    .liste_footer {
        margin-left: -16%;
        font-size: 122%;
    }

    /*pages-mobile*/

    .logo_titre_2 {
        margin-left: -18%;
    }

    .like3 {
        float: right;
        margin-right: 6%;
        margin-bottom: -21%;
    }

    .like3:hover {
        filter: opacity(10);
        transition: 0.70s;
        color: #ff79da;
    }

    .like3:hover .like2:hover {
        color: #ff79da;
    }

    .section_menu {
        display: block!important;
    }

    .Carte_menu_palette_du_gout {
        margin-left: 0%!important;
        margin-right: 0%!important;
        padding-left: 2%;
        padding-right: 2%;
    }

    .titre_de_la_palette_du_gout {
        padding-left: 59px;
    }

    .menu_items {
        padding: 8px!important;
        padding-top: 4%!important;
        padding-bottom: 4%!important;
    }

    .menuItem:hover .menuItem__confirmation{
        margin-right: -1rem;
    }

    .menu_items__prix {
        align-items: center!important;
    }

    .prix_1 {
        margin-left: 43%!important;
    }

    .prix_2 {
        margin-left: 26%!important;
    }

    .prix_4 {
        margin-left: 0%!important;
    }

    .prix_5 {
        margin-left: 8%!important;
    }

    .prix_6 {
        margin-left: 58%!important;
    }

    .prix_7 {
        margin-left: 65%!important;
    }

    .prix_8 {
        margin-left: 16%!important;
    }

    .prix_9 {
        margin-left: 6%!important;
    }


}